html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    font-size: 16px;
}

#fondo{
    width: 100%;
    height: 100%;
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}

#shante{
    width: 9.5rem;
    position: absolute;
    top: 0px;
    left: 0px;
}